* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 740px;
  padding: 20px;
  margin: 0 auto;
}

h1 {
  font-weight: 300;
}

.article {
  padding: 20px;
  border-radius: 4px;

  .article_link {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0 0 10px;
    color: cornflowerblue;
  }

  p {
    margin: 0;
    color: #555;
  }

  &:nth-child(2n) {
    background: #f4f4f4;
  }
}
